In [5]:
import pandas as pd
import datetime
import numpy as np


df = pd.read_csv('test - day.csv')

In [6]:
# df.drop(, axis=1, inplace=True)

In [9]:
cols = df.columns
df.drop([cols[0],cols[1],cols[4]], axis=1, inplace=True)
df['date'] = pd.to_datetime(df['date'])
df['day'] = df['date'].dt.day_name()
df['date'] = df.date.astype(object)
df['day'] = df.day.astype(object)

In [11]:
df.head()

           name  tips                 date       day
0  Ross Begnaud    42  2021-04-08 00:00:00  Thursday
1  John Crowley    42  2021-04-08 00:00:00  Thursday
2  Ross Begnaud    42  2021-04-08 00:00:00  Thursday
3  John Crowley    42  2021-04-08 00:00:00  Thursday
4  Ross Begnaud    42  2021-04-08 00:00:00  Thursday

In [15]:
df = df.pivot_table(index="name",columns=["date"],values="tips")

In [16]:
df

date          2021-04-08
name
BOH            59.000000
Jakob Hart    168.333333
John Crowley   47.400000
Kala Elkins   420.000000
Ross Begnaud  173.400000