In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt, timedelta
import re

In [2]:
today = dt.now()
today = today.date()
days = pd.date_range(today, today + timedelta(364))

In [153]:
df = pd.read_csv('test - Marigny.csv')

In [154]:
cols = df.columns
df.drop(cols[0:6],axis=1,inplace=True)
df.drop('created_at',axis=1,inplace=True)
df['date'] = pd.to_datetime(df['date'])
df['tips'] = round(df.tips.astype(int))

In [155]:
df.head()

   name  tips       date
0  Bill    21 2021-04-20
1  Bill    13 2021-04-20
2  Bill    13 2021-04-20
3  Bill    13 2021-04-20
4  Bill    11 2021-04-20

In [156]:
s = '04/20/21'
start = pd.to_datetime(s).date()

In [157]:
pay_period = pd.date_range(start, start + timedelta(3))

In [158]:
df = df.pivot_table('tips','name','date')

In [151]:
df1 = df[[pay_period[0],pay_period[3]]].copy()

In [152]:
df1

date    2021-04-20  2021-04-23
name
Bill     26.857143       127.0
bloosh         NaN       127.0
joke           NaN       127.0

In [18]:
pay_period

DatetimeIndex(['2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23'], dtype='datetime64[ns]', freq='D')

In [20]:
df[pay_period]

KeyError: "[Timestamp('2021-04-22 00:00:00', freq='D'), Timestamp('2021-04-21 00:00:00', freq='D')] not in index"

In [ ]:
# data = np.random.randint(1, high=100, size=len(days))
# df = pd.DataFrame({'col2': data})
# #df = df.set_index('test')
# df.head()

In [ ]:
# df['employee'] = pd.cut(df['col2'],bins=len(employees),labels=employees)
# df['date'] = days
# df.head()

In [134]:
s = input('please enter a valid date')

please enter a valid date04/20/21

In [130]:
def pay_period(s,df):

    patt = re.compile('\d{2}[-/]\d{2}[-/]\d{2}')

    if re.findall(patt,s) == []:
        print('you fucked up')
        return False
    else:
        print('gucci')
        try:
            start = pd.to_datetime(s).date()
            pay_period = pd.date_range(start, start + timedelta(2))
            df1 = df[[pay_period[0],pay_period[2]]].copy()
            df1['gross'] = df1.sum(axis=1)
            df1['claimed'] = df1['gross'] * .60
            df2 = df1[['gross','claimed']]
            period = f'For the Pay period of {start} until {pay_period[-1].date()}'.format(start,pay_period)
            return df2,period
            
        except:
            return False

In [139]:
start = pd.to_datetime(s).date()
pay_period

DatetimeIndex(['2021-04-20', '2021-04-21', '2021-04-22'], dtype='datetime64[ns]', freq='D')

In [140]:
df.columns

DatetimeIndex(['2021-04-20', '2021-04-23'], dtype='datetime64[ns]', name='date', freq=None)

In [141]:
pay_period = pd.date_range(start, start + timedelta(3))
df1 = df[[pay_period[0],pay_period[3]]].copy()
df1['gross'] = df1.sum(axis=1)
df1['claimed'] = df1['gross'] * .60
df2 = df1[['gross','claimed']]
period = f'For the Pay period of {start} until {pay_period[-1].date()}'.format(start,pay_period)

In [143]:
df2

date         gross    claimed
name
Bill    153.857143  92.314286
bloosh  127.000000  76.200000
joke    127.000000  76.200000

In [128]:
df2.index

Index(['Bill', 'bloosh', 'joke'], dtype='object', name='name')

In [97]:
start = check_date(start)

gucci

In [108]:
pay_period = pd.date_range(start, start + timedelta(13))

In [109]:
pay_period

DatetimeIndex(['2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23',
               '2021-04-24', '2021-04-25', '2021-04-26', '2021-04-27',
               '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-01',
               '2021-05-02', '2021-05-03'],
              dtype='datetime64[ns]', freq='D')

In [100]:
df.head()

date    2021-04-20  2021-04-23
name
Bill     26.857143       127.0
bloosh         NaN       127.0
joke           NaN       127.0

In [105]:
df1 = df[[pay_period[3],pay_period[0]]].copy()

In [106]:
df1['gross'] = df1.sum(axis=1)
df1['claimed'] = df1['gross'] * .60

In [107]:
df1

date    2021-04-23 00:00:00  2021-04-20 00:00:00       gross    claimed
name
Bill                  127.0            26.857143  153.857143  92.314286
bloosh                127.0                  NaN  127.000000  76.200000
joke                  127.0                  NaN  127.000000  76.200000

In [ ]:
df1['gross'] = df1.sum(axis=1)
df1['claimed'] = df1['gross'] * .60
df1.head()

In [ ]:
df2 = df1[['gross','claimed']]

In [ ]:
df = pd.read_csv('test - Marigny.csv')

In [ ]:
df.head()

In [ ]:
cols = df.columns
df.drop(cols[0:6],axis=1,inplace=True)
df.drop('created_at',axis=1,inplace=True)

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['tips'] = round(df.tips.astype(int))

In [ ]:
df

In [ ]:
df = df.pivot_table('tips','name','date')

In [ ]:
df.head()

In [ ]:
start = input('please enter a valid date')

In [ ]:
print(start)

In [ ]:
patt = re.compile('\d{2}/\d{2}/\d{2}')

In [ ]:
print(patt)

In [ ]:
re.findall(patt,start)

In [28]:
start = input('please enter a valid date')

please enter a valid date04/20/21

In [29]:
def check_date(s):

    patt = re.compile('\d{2}/\d{2}/\d{2}')


    if re.findall(patt,s) == []:
        print('you fucked up')
        return False
    else:
        print('gucci')
        try:
            start = pd.to_datetime(s).date()
            return start
            
        except:
            return False

In [32]:
start = check_date(start)

gucci

In [45]:
pay_period = pd.date_range(start, start + timedelta(2))

TypeError: 'freq' is an invalid keyword argument for __new__()

In [44]:
pay_period

DatetimeIndex(['2021-04-20', '2021-04-21', '2021-04-22'], dtype='datetime64[ns]', freq='D')

In [43]:
df.columns

DatetimeIndex(['2021-04-20', '2021-04-23'], dtype='datetime64[ns]', name='date', freq=None)

In [ ]:


df['day'] = df['date'].dt.day_name().astype(str)
df['day'] = df['day'].str.replace(r'(\w+day\b)',lambda x: x.groups()[0][:3])
df['Date'] =  df.date.astype(str) + '\n' + df.day + '\n' + df.time.astype(str)
df.fillna('-',inplace=True)
df = df.pivot_table(index="name",columns=["Date"],values="tips")

In [ ]:
dataframe['date'] = pd.to_datetime(dataframe['created_at']).dt.date

df = dataframe.pivot_table('tips','name','date')

df1 = df[biweek]

df1['gross'] = df1.sum(axis=1)
df1['claimed'] = df1['gross'] * .60

In [23]:
start = '12/22/21'
month,day,year = start.split('/')

datetime.date(21, 12, 22)

In [47]:
input_date = input('date')

date04/20/21

In [50]:
month,day,year = input_date.split('/')
start = dt(int(year),int(month),int(day)).date()
# biweek = pd.date_range(start, start + timedelta(weeks=2))

In [58]:
strt = pd.to_datetime(input_date).date()

In [59]:
pd.date_range(start, start + timedelta(13))

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 21-04-20 00:00:00