In [89]:
import numpy as np
import pandas as pd
from datetime import datetime as dt, timedelta

In [90]:
today = dt.now()
today = today.date()
days = pd.date_range(today, today + timedelta(364))

In [91]:
np.random.seed(seed=1111)

In [92]:
employees = ['bill','karen','horst','fuck','phil','chris']

In [93]:
data = np.random.randint(1, high=100, size=len(days))
df = pd.DataFrame({'col2': data})
#df = df.set_index('test')
df.head()

   col2
0    29
1    56
2    82
3    13
4    35

In [94]:
df['employee'] = pd.cut(df['col2'],bins=len(employees),labels=employees)
df['date'] = days
df.head()

   col2 employee       date
0    29    karen 2021-04-22
1    56     fuck 2021-04-23
2    82     phil 2021-04-24
3    13     bill 2021-04-25
4    35    horst 2021-04-26

In [95]:
df.head()

   col2 employee       date
0    29    karen 2021-04-22
1    56     fuck 2021-04-23
2    82     phil 2021-04-24
3    13     bill 2021-04-25
4    35    horst 2021-04-26

In [96]:
#dt = df.groupby(['employee', pd.Grouper(key='date', freq='SM')])['col2'].sum().reset_index().sort_values('date')

In [113]:
start = pd.to_datetime('4/22/21').date()
start

datetime.date(2021, 4, 22)

In [114]:
biweek = pd.date_range(start, start + timedelta(13))

In [118]:
biweek

DatetimeIndex(['2021-04-22', '2021-04-23', '2021-04-24', '2021-04-25',
               '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29',
               '2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [115]:
df1 = df.pivot_table('col2','employee','date')
df1.head()

date,2021-04-22,2021-04-23,2021-04-24,2021-04-25,2021-04-26,2021-04-27,2021-04-28,2021-04-29,2021-04-30,2021-05-01,...,2022-04-12,2022-04-13,2022-04-14,2022-04-15,2022-04-16,2022-04-17,2022-04-18,2022-04-19,2022-04-20,2022-04-21
employee,,,,,,,,,,,,,,,,,,,,,
bill,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,12.0,...,NaN,15.0,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN
karen,29.0,NaN,NaN,NaN,NaN,NaN,25.0,23.0,21.0,NaN,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,27.0
horst,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,47.0,NaN,47.0,NaN,NaN,NaN
fuck,NaN,56.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,...,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phil,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [121]:
df1 = df1[biweek]
df1.head()

date,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,2021-04-25 00:00:00,2021-04-26 00:00:00,2021-04-27 00:00:00,2021-04-28 00:00:00,2021-04-29 00:00:00,2021-04-30 00:00:00,2021-05-01 00:00:00,2021-05-02 00:00:00,2021-05-03 00:00:00,2021-05-04 00:00:00,2021-05-05 00:00:00
employee,,,,,,,,,,,,,,
bill,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,12.0,15.0,9.0,13.0,NaN
karen,29.0,NaN,NaN,NaN,NaN,NaN,25.0,23.0,21.0,NaN,NaN,NaN,NaN,NaN
horst,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fuck,NaN,56.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
phil,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
df1['gross'] = df1.sum(axis=1)
df1['claimed'] = df1['gross'] * .60
df1.head()

date,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,2021-04-25 00:00:00,2021-04-26 00:00:00,2021-04-27 00:00:00,2021-04-28 00:00:00,2021-04-29 00:00:00,2021-04-30 00:00:00,2021-05-01 00:00:00,2021-05-02 00:00:00,2021-05-03 00:00:00,2021-05-04 00:00:00,2021-05-05 00:00:00,gross,claimed
employee,,,,,,,,,,,,,,,,
bill,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,12.0,15.0,9.0,13.0,NaN,62.0,37.2
karen,29.0,NaN,NaN,NaN,NaN,NaN,25.0,23.0,21.0,NaN,NaN,NaN,NaN,NaN,98.0,58.8
horst,NaN,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,21.0
fuck,NaN,56.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.0,65.4
phil,NaN,NaN,82.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,49.2

In [102]:
df.head()

   col2 employee       date
0    29    karen 2021-04-22
1    56     fuck 2021-04-23
2    82     phil 2021-04-24
3    13     bill 2021-04-25
4    35    horst 2021-04-26

In [138]:
df2 = df1[['gross','claimed']]

In [141]:
for k,v in df2.iterrows():
    print(k)
    print(v)

bill
date
gross      62.0
claimed    37.2
Name: bill, dtype: float64
karen
date
gross      98.0
claimed    58.8
Name: karen, dtype: float64
horst
date
gross      35.0
claimed    21.0
Name: horst, dtype: float64
fuck
date
gross      109.0
claimed     65.4
Name: fuck, dtype: float64
phil
date
gross      82.0
claimed    49.2
Name: phil, dtype: float64
chris
date
gross      87.0
claimed    52.2
Name: chris, dtype: float64